@page "/institucion/modificar/{rowkey}"

@inject IInstitucionService servicioInstitucion
@inject NavigationManager nav
@inject SweetAlertService sweetAlertService

<h3>Modificar Institucion</h3>

@if (institucion != null)
{
    <InstitucionFormulario @ref="insform" institucion="institucion" OnValidSubmit="Modificar" Cancelar="Navegar"></InstitucionFormulario>
}
else
{
    <p>Cargando...</p>
}

@code {
    private Institucion institucion;
    private InstitucionFormulario? insform;

    [Parameter]
    public string rowkey { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoiSnVhbiIsInJvbCI6IkFkbWluIiwiZXN0YWRvIjoiQWN0aXZvIiwiZXhwIjoxNzEyMjQzMTk5fQ.787Bk0kXr3Hl_F68fKyYQrYhUAMJIJTQzOiTONpP1e0";
        string idInstitucion = rowkey;
        institucion = await servicioInstitucion.ObtenerInstitucionPorId(idInstitucion, token);
    }

    private async Task Modificar()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "¿Estás seguro?",
                Text = "¿Deseas modificar este registro de institución?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, Modificar",
                CancelButtonText = "No, cancelar",
            });

        if (result.IsConfirmed)
        {
            string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoiSnVhbiIsInJvbCI6IkFkbWluIiwiZXN0YWRvIjoiQWN0aXZvIiwiZXhwIjoxNzEyMjQzMTk5fQ.787Bk0kXr3Hl_F68fKyYQrYhUAMJIJTQzOiTONpP1e0";
            var respuesta = await servicioInstitucion.ModificarInstitucion(institucion, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo modificar", SweetAlertIcon.Error);
                return;
            }
            else
            {
                await sweetAlertService.FireAsync("Modificado", "Se modifico correctamente", SweetAlertIcon.Success);
                Navegar();
            }
        }
        
    }

    private void Navegar()
    {
        insform!.formularioPostOk = true;
        nav.NavigateTo("/instituciones", forceLoad: true);
    }
}
